<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpie3OHO2dSIGKqIQLtgzK-HvDNB_oIHA</string>
	<key>GCM_SENDER_ID</key>
	<string>910928336191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.johan.ProTalk</string>
	<key>PROJECT_ID</key>
	<string>messagerie-5042c</string>
	<key>STORAGE_BUCKET</key>
	<string>messagerie-5042c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910928336191:ios:c31c60fee181d5c6816f8a</string>
</dict>
</plist>